.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.category-item{
    min-height: 105px;
}

.category-select{
    display: none;
}

.category-name{
    font-size: 18px;
}

.back-btn{
    position: absolute;
    left: 3px;
    top: -5px;
}

.oi-check{
    position: absolute;
    right: 6px;
}

.pagination {
    margin-top: 15px;
    justify-content: center;
}

.edit-form{
    display: none;
}

.appointment-btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.clickad-dpck-day-td:hover .appointment-btn-wrapper{
    opacity: 1;
}
