.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.category-item{
    min-height: 105px;
}

.category-select{
    display: none;
}

.category-name{
    font-size: 18px;
}

.back-btn{
    position: absolute;
    left: 3px;
    top: -5px;
}

.oi-check{
    position: absolute;
    right: 6px;
}
